/*ESTILOS DE MATERIALIZE.css (Ver la pagina)*/
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("../images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;    
  }

  main {
    flex: 1 0 auto;
  }
h4,h3{
  color: white;
}

/*ESTILOS DE MATERIALIZE.css (Ver la pagina)*/




      