/*ESTILOS DE MATERIALIZE.css (Ver la pagina)*/
  body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

/*ESTILOS DE MATERIALIZE.css (Ver la pagina)*/


/*ESTILOS PARA LOS DIFERENTES COMPONENTES*/
.page-footer{
	background-color: #0288d1;
}

nav{
	background-color: #0288d1;
}
.btn{
		background-color: #0288d1;

}
h1, h2, h3, h4, h5, h6{
	text-align: center;
	color: #0288d1;
}
.active a{
	background-color: #0288d1;
}
p{
	color: #0288d1;
}
.carousel{
	margin-top: -5rem;
}

main ul li{

	margin-bottom: 2rem;
}

#logo{
	height: 4.25rem !important;
	width: 100%;
}
#url{
	color: black;
	font-size: 1.5rem;
}
.noexiste{
	color: #dd2c00;	
}
.ingresealgo{
	color: #2e7d32 !important;
}
/*ESTILOS PARA LOS DIFERENTES COMPONENTES*/

/*ESTILO PARA LA IMG DE INICIO*/
.celda img{
	width: 100%;
	height: 200px;
}


/*ESTILO PARA LA IMG DE INICIO*/

/*ESTILOS DE LAS TABLAS*/
@media screen and (min-width: 990px) {
   .tablaeditar th {
    max-width: 50px;
}

	.tablaeditar td {
    max-width: 50px;
}
	
	.celda{
		text-align: center;
	}
	
	.derecha{
		text-align: right;
	}
	
	.izquierda{
		text-align: left;
	}
	
	.celda_editar{
		display: inline-block;
		margin-left: 890px;
	}
    
}


/*ESTILOS DE LAS TABLAS CIERRO*/


/*ESTILOS A LOS DIFERENTES FORMULARIOS DE LA PAGINA (USAR ID)*/
#form_inicio{
	margin-top: 5rem;
}

/*ESTILOS A LOS DIFERENTES FORMULARIOS DE LA PAGINA*/



/*ESTILOS A LOS DIFERENTES NAVBAR DE LA PAGINA (USAR ID)*/
#aside{
	border: 1px solid black;
}

/*ESTILOS A LOS DIFERENTES FORMULARIOS DE LA PAGINA*/


/*ESTILOS PARA LOS ICONOS*/

.material-icons.desactivar { color: red; }
.material-icons.activar { color: green; }
.material-icons.word{ color: blue; }
.material-icons.pdf{ color: red; }
.material-icons.pagar{ color: #66bb6a; }
.material-icons.nopagar{ color: black; }
.material-icons.entregado{ color: #6200ea; }
.material-icons.noentregado{ color: #dd2c00; }
.material-icons.negro{ color: black; }




/*ESTILOS PARA LOS ICONOS*/

/*ESTILOS PARA LOS INPUTS*/

.sinborde{
	border-bottom: none !important; 
	text-align:right !important;
}




/*ESTILOS PARA LOS INPUTS*/

.text-right{
	text-align: right !important;
}

.text-left{
	text-align: left !important;
}

.text-center{
	text-align: center !important;
}
.mt{
	margin-top: 10px !important; 
}